server {
        listen {{ http_port }};
        root /home/{{ user }}/wordpress;
        index index.php index.html index.cgi index.pl  index.xhtml index.htm;
        server_name {{ http_host }};

        location / {
                try_files $uri $uri/ =404;
        }

        location ~ \.php$ {
                include snippets/fastcgi-php.conf;
                fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
        }

        location ~ /\.ht {
                deny all;
        }
}