#!/bin/bash
echo "Setting directory permissions to 750..."
find /var/www/{{ http_host }}/{{ wp_dir }}/ -type d -exec chmod 750 {};
echo "Done!"
echo "Setting file  permissions to 750..."
find /var/www/{{ http_host }}/{{ wp_dir }}/ -type f -exec chmod 640 {};
echo "Done!"
echo "Setting ownership of uploads directory..."
chown -R www-data:www-data /var/www/{{ http_host }}/{{ wp_dir }}/wp-content/uploads
echo "Done!"
echo "Setting /var/www/{{ http_host }} ownership to {{ user }}:www-data ..."
chown -R {{ user }}:www-data /var/www/{{ http_host }}
echo "Done!"
echo "Setting up wordfence file ownership.."
chown www-data:www-data /var/www/{{ http_host }}/{{ wp_dir }}/wordfence-waf.php
chown www-data:www-data /var/www/{{ http_host }}/{{ wp_dir }}/.user.ini
echo "Done!"